@model Coffee_POS.Models.Category

<h3 class="fw-bold mb-3">Add New Category</h3>

<form method="post">

    <label class="form-label fw-bold">Category Name</label>
    <input type="text" name="Name" class="form-control" required />

    <button class="btn btn-primary mt-4">
        <i class="fa fa-save"></i> Save Category
    </button>

    <a href="/Category/Index" class="btn btn-secondary mt-4">Cancel</a>

</form>
